body {
	background: rgb(255,219,244);
	background: radial-gradient(circle, rgba(255,219,244,0.9416141456582633) 45%, rgba(255,191,191,0.9136029411764706) 100%);
}	
input {
	float: left;
}
#window {
	width: 70%;
	height: 90%;
	background-color: black;
	opacity: 85%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
    overflow-y:scroll; 
}
#form {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
#message {
	width: 95.5%;
}
#send {
}
p {
	color: white;
}
.message {
	color: white;
}
.time {
	color: grey;
	font-size: 5px;
}
#username {
	
}